masterwindow {
    window-padding: 5, 5;
    item-spacing: 0, 0;
}

menubar {
    window-padding: 10, 10;
    item-spacing: 10, 10;
}

toolbar {
    window-padding: 2, 2;
    frame-padding: 2, 2;
    item-spacing: 2, 2;
}

statusbar {
    window-padding: 2, 2;
    frame-padding: 2, 2;
    item-spacing: 2, 2;
}
